@model MvcBus.Models.BusSeatViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Bus time schedule</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Buses" asp-action="Index" method="get">
    <p>

        <label asp-for="SearchString" class="control-label"></label>
        <select asp-for="BusSeats" asp-items="Model.Seats">
            <option value="">All</option>
        </select>

        <label asp-for="SearchString" class="control-label"></label>
        <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Buses[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buses[0].Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buses[0].Seats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buses[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buses[0].Speed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Buses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Arrival)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Speed)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>